*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    list-style: none;
    display: flex;
    padding: 10px;
    margin: 5px;
    gap: 90px;
 
}
.navbar:hover{
    color: #1E90FF;
}

.nav-links{
    list-style: none;
    display: flex;
    padding: 5px;
    margin: 5px;
    gap: 90px;
}
.logo{
    font-size: 1.2rem;
    font-weight: bold;
  color: black;
}

.username{
    background-color: #F2FAFF;
    color: #5CC5FF;
    padding: 15px 15px;
    border-radius: 15px ;
   font-size: 20px;
}

.container{
  
    display: flex;
    text-align: center;
  align-content: center;
  justify-content: space-between;
  padding: 90px;
 

}


.left{
    width: 50%;
}

.left h1{
    font-size: 45px;
    line-height: 1.2;
    margin-bottom: 15px;
}

.left h1 span{
  color: #5CC5FF;  
}

.left p{
    padding: 1px;
    font-family: sans-serif;
     line-height: 1.3;
    margin-bottom: 30px;

}
.btn{
    padding: 15px 15px ;
    border: none;
    border-radius:1.2rem ;
    background-color:#1E90FF ;
    color: #F2FAFF;
    cursor: pointer;
   
}
.Right{
    height: 400px;
    width: 400px;

}






